<!DOCTYPE html>
<html>
    <head><title>Add Note</title></head>
    <body>
        <h1>Add New Note</h1>
        <form method="POST" action="/add">
            <div>
                <label >Title:</label>
                <input name="title">
            </div>
            <div>
                <label >Content</label>
                <textarea name="content"></textarea>
            </div>

            <button type="submit">Submit</button>
        </form>

        <a href="/">Back to Home</a>
    </body>
</html>