<!DOCTYPE html>
<html>
    <head><title>login</title></head>
    <body>
        <h1>login in</h1>
        <form method="POST" action="/login">
            <div>
                <label for="username">username:</label>
                <input name="username">
            </div>
            <div>
                <label>password:</label>
                <input type="password" name="password"></input>
            </div>

            <button type="submit">submit</button>
            <div>
                <p>
                    {{response}}
                </p>
            </div>
            
        </form>
        <a href="/">Back to Home</a>
    </body>
</html>