<!DOCTYPE html>
<html>
    <head><title>DevNotes</title></head>
    <body>
        <h1>My Notes</h1>
        <ul>
            <li><a href="/add">Add New Note</a></li>
            <li> <a href="/search">Search a note</a></li>
    
            {% if session.username %}
                <li>Logged in as {{ session.username }} | <a href="/logout">Logout</a></li>
            {% else %} 
                <li> <a href="/login">Login</a> | <a href="/register">Register</a></li>
            {% endif %}

        </ul>
       
        {% for note in notes%}
        <div>
            <h2>{{note.title}}</h2>
            <p>{{note.content}}</p>
        </div>
        {% endfor %}
    </body>
</html>