<!DOCTYPE html>
<html>
    <head><title>DevNotes</title></head>
    <body>
        <h1>My Notes</h1>
        <ul>
            <li><a href="/add">Add New Note</a></li>
            <li> <a href="/search">Search a note</a></li>
            <li> <a href="/register">register</a></li>
            <li> <a href="/login">login</a></li>
        </ul>
       
        {% for note in notes%}
        <div>
            <h2>{{note.title}}</h2>
            <p>{{note.content}}</p>
        </div>
        {% endfor %}
    </body>
</html>