<!DOCTYPE html>
<html>
    <head><title>register</title></head>
    <body>
        <h1>register new user</h1>
        <form method="POST" action="/register">
            <div>
                <label for="username">username:</label>
                <input name="username">
            </div>
            <div>
                <label>password:</label>
                <input type="password" name="password"></input>
            </div>

            <button type="submit">submit</button>
        </form>
        <a href="/">Back to Home</a>
    </body>
</html>